## THIS IS A TEMPLATE FILE ##
## COPY BELOW CONTENT TO production.env ##

NODE_ENV=production
JWT_SECRET_KEY=1aed...
OAUTH_CLIENT_ID=6f22...
OAUTH_CLIENT_SECRET=29av...
AUTHORIZATION_CODE=7905...
PORT=3000
JPM_AUTH_URL=https://id.payments.jpmorgan.com/am/oauth2/alpha/access_token
JPM_REQUEST_URL=https://apigatewaycat.jpmorgan.com/tsapi
JPM_CLIENT_ID=6f22...
JPM_SECRET_KEY=6f22...
